{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$(function() {
    $('#equation-form').submit(function() {
        $.get('{{ url_for("plot") }}', $(this).serializeArray(), function(data) {
            $('#plot').html(data);
        });
    return false;
    });
});
</script>
{% endblock %}

{% block content %}
<div class="text-center">
    <p>Please enter an equation</p>
    <form id="equation" action="{{ url_for('plot') }}" method="post">
        <sup>dy</sup>&frasl;<sub>dx</sub>=<input type="text" name="equation"/>
        <input type="submit" id="submit" value="Submit"/>
    </form>
    <div id="plot">
    </div>
</div>

{% endblock %}